@charset "UTF-8";

header {
	text-align: center;
}

#class_rec1 {
	text-align: left;
	width: 529px;
	height: 224px;
	flex-shrink: 0;
	border-radius: 16px;
	background: rgba(0, 95, 131, 0.05);
	display: inline-block;
}

#class_rec2 {
	text-align: left;
	width: 529px;
	height: 224px;
	flex-shrink: 0;
	border-radius: 16px;
	background: rgba(0, 95, 131, 0.05);
	display: inline-block;
}

h1 {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	font-weight: 700;
	letter-spacing: 0.48px;
	word-wrap: break-word;
	font-size: 24px;
	line-height: 1.2;
	display: inline-block;
	background: #005F83;
	padding: 10px;
	border-radius: 10px;
	box-sizing: border-box;
	width: fit-content;
	margin: 0 auto;
}

h3 {
	color: rgb(0, 95, 131);
	font-family: Arial, Helvetica, sans-serif;

}

p {
	color: rgb(0, 95, 131);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

body {
	margin: 0;
}

select {
	display: inline-flex !;
	padding: 10px 16px;
	align-items: center;
	gap: 40px;
	border-radius: 8px;
	border: 1px solid var(--material-theme-sys-light-primary, #176490);
	background: var(--white, #FFF);
	box-shadow: 0px 4px 5px 2px rgba(62, 171, 194, 0.30);
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.25px;
	margin-left: 7%;
}

#subHead {

	display: flex;
	width: 392px;
	padding: 12px 13px;
	align-items: center;
	background: #005F83;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

#paragraph_description {
	color: #005F83;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0.32px;
}

#sub_text {}

#priority1 {}

#priority2 {}

#rec3 {
	width: 1078px;
	height: 896px;
	flex-shrink: 0;
	border-radius: 16px;
	background: rgba(0, 95, 131, 0.05);
}

#rec4 {
	width: 804px;
	height: 184px;
	flex-shrink: 0;
	border-radius: 16px;
	background: #FFF;
}

#email_button {
	/* margin-left: 15%;
	margin-right: 15%; */
	display: flex;
	width: 256px;
	padding: 18px 190px;
	justify-content: center;
	align-items: center;
	gap: 16px;
	background: #005F83;
	color: #FFF;
	text-align: center;

	/* button */
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	/* 83.333% */
	letter-spacing: 0.96px;
	border: none;
}

textarea {}

#option_label {}

#submit {
	position: relative;
	display: flex;
	width: 256px;
	margin: 20px auto;
	padding: 18px 0;
	justify-content: center;
	align-items: center;
	gap: 16px;
	color: #FFF;
	text-align: center;
	font-family: Inter;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0.96px;
	background: #005F83;
	border: none;
}

.page_margin {
	margin-left: 15%;
	margin-right: 15%;
}

.inner_margin {
	margin-left: 5%;
	margin-right: 5%;
}